* {
  font-family: 'Courier New', Courier, monospace;
}

ul {
  list-style: none;
  li {
    border-bottom: 3px solid gray;
    display: flex;
    span {
      flex: 1 0 auto;
      &.price {
        color: green;
        font-weight: bold;
        text-align: right;
      }
    }
  }
}
